.elementor-93
  .elementor-element.elementor-element-f0bff28
  > .elementor-container {
  min-height: 550px;
}
.elementor-93
  .elementor-element.elementor-element-f0bff28:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93
  .elementor-element.elementor-element-f0bff28
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffc10e;
}
.elementor-93
  .elementor-element.elementor-element-f0bff28
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93 .elementor-element.elementor-element-f0bff28 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 35px 0px 35px;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-50b4b4f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-primary {
  font-size: 80px;
  font-weight: 800;
  color: #de8b3d;
  margin: 0px 0px 0px 0px;
  font-family: "Fredoka", sans-serif !important;
  margin: 0;
  display: inline-block;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-secondary {
  font-size: 24px;
  font-weight: 400;
  color: #490e0e;
  margin: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-description {
  color: #515e0d;
  font-size: 20px;
  font-weight: 400;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-b9efc0f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-b9efc0f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-b9efc0f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-b9efc0f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  /* padding: 10px 10px 10px 10px; */
}
.elementor-93
  .elementor-element.elementor-element-b9efc0f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93 .elementor-element.elementor-element-8292448 img {
  /* width: 70%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); */
}
.elementor-93 .elementor-element.elementor-element-ad4b0c2 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-93
  .elementor-element.elementor-element-ad4b0c2
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-93 .elementor-element.elementor-element-05e0f7b {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-93
  .elementor-element.elementor-element-05e0f7b
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-658f009:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93
  .elementor-element.elementor-element-658f009
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #a0a4c6;
}
.elementor-93 .elementor-element.elementor-element-658f009 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-658f009
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-e251b76.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-e251b76.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-e251b76.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-e251b76
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-93 .elementor-element.elementor-element-f25927b img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-ac659e0.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-ac659e0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-ac659e0.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-ac659e0
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-93 .elementor-element.elementor-element-e3eaebd img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-6c3a42e
  > .elementor-container {
  min-height: 615px;
}
.elementor-93
  .elementor-element.elementor-element-6c3a42e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93
  .elementor-element.elementor-element-6c3a42e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffc10e;
}
.elementor-93
  .elementor-element.elementor-element-6c3a42e
  > .elementor-background-overlay {
  opacity: 0.3;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93 .elementor-element.elementor-element-6c3a42e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 35px 0px 35px;
}
.elementor-93
  .elementor-element.elementor-element-23462c0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-23462c0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-4e7aa0e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 25px 25px 25px 25px;
}
.elementor-93 .elementor-element.elementor-element-911bd44 img {
  width: 90%;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.87);
}
.elementor-93
  .elementor-element.elementor-element-b443d0b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 30px 0px 0px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 25px;
}
.elementor-93
  .elementor-element.elementor-element-b443d0b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-43fe0e5
  .aux-modern-heading-primary {
  color: #ffffff;
}
.elementor-93
  .elementor-element.elementor-element-43fe0e5
  .aux-modern-heading-description {
  color: #515e0d;
  font-size: 20px;
  font-weight: 600;
}
.elementor-93 .elementor-element.elementor-element-2839159 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-2839159
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-861f073.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-861f073.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-861f073.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-861f073
  > .elementor-element-populated {
  padding: 10px 10px 10px 10px;
}
.elementor-93 .elementor-element.elementor-element-7b2abb6 img {
  width: 91%;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (max-width: 1024px) {
  .elementor-93 .elementor-element.elementor-element-6c3a42e {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-93 .elementor-element.elementor-element-6c3a42e {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .elementor-93
    .elementor-element.elementor-element-4e7aa0e
    > .elementor-element-populated {
    margin: 60px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-93 .elementor-element.elementor-element-50b4b4f {
    width: 55%;
  }
  .elementor-93 .elementor-element.elementor-element-b9efc0f {
    width: 45%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-93 .elementor-element.elementor-element-4e7aa0e {
    width: 50%;
  }
  .elementor-93 .elementor-element.elementor-element-b443d0b {
    width: 50%;
  }
} /* Start custom CSS for section, class: .elementor-element-658f009 */
@media only screen and (max-width: 320px) {
  .elementor-93 .elementor-element.elementor-element-658f009 {
    margin-top: 0px !important;
  }
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4e7aa0e */
@media screen and (max-width: 900px) and (min-width: 768px) {
  .elementor-93 .elementor-element.elementor-element-4e7aa0e {
    width: 100%;
    margin-top: 100px;
  }
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b443d0b */
@media screen and (max-width: 900px) {
  .elementor-93 .elementor-element.elementor-element-b443d0b {
    width: 100%;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-widget-modern-heading
    .aux-widget-inner {
    text-align: center;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-modern-heading-secondary:after {
    margin: auto;
    margin-top: 25px;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-modern-button-wrapper {
    text-align: center;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-direction-horizontal {
    justify-content: center;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-widget-text
    .aux-ico-pos-left {
    flex-direction: column;
    text-align: center !important;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-text-widget-header {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  .elementor-93
    .elementor-element.elementor-element-b443d0b
    .aux-widget-text
    .aux-text-widget-content {
    padding: 0px 0px 0px 0px;
    margin: auto;
  }
} /* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6c3a42e */
@media only screen and (max-width: 320px) {
  .elementor-93 .elementor-element.elementor-element-6c3a42e {
    margin-top: 0px !important;
  }
} /* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2839159 */
@media only screen and (max-width: 320px) {
  .elementor-93 .elementor-element.elementor-element-2839159 {
    margin-top: 0px !important;
  }
} /* End custom CSS */

@media screen and (max-width: 768px) {
  .elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-primary {
  font-size: 40px;
  font-weight: 800;
  color: #de8b3d;
  margin: 0px 0px 0px 0px;
  font-family: "Fredoka", sans-serif !important;
  margin: 0;
  display: inline-block;
}

.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-secondary {
  font-size: 14px;
  font-weight: 400;
  color: #490e0e;
  margin: 0px 0px 0px 0px;
}

}